.section-center {
  margin-top: 100px;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding-bottom: 50px;
  height: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.menu-item {
  /* min-height: 100vh; */
  flex-direction: column;
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  /* margin-top: 140px; */
  /* Box shadow properties */
  box-shadow: h-offset v-offset blur color;
  /* Box shadow example */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
}
.photo {
  background-color: #414042;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.item-info header {
  font-family: "Great Vibes";
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h3 {
  font-family: "Iskoola Pota";
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.item-text {
  font-family: "Iskoola Pota";
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: auto;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
