

.menu {
  background-color: #414042;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-list img {
  width: 50%;
  height: 50%;
  object-fit: column;
  display: flexbox;
}

/* @media screen and (min-width: 768px) {
  .items {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media only screen and (max-width: 800px) {
  .item {
    grid-template-columns: 1fr;
  }
} */