.contact {
  width: 100%;
  height: 90vh;
  display: flex;
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  justify-content: center;
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-family: "Great Vibes";
  font-weight: bold;
  font-size: 70px;
  /* margin-left: 30px; */
  text-align: center;
}

.contact .rightSide h4,
a {
  text-align: center;
  line-height: 40px;
  color: black;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #414042;
  border: 1px solid black;
}

form textarea {
  margin-top: 15px;
  height: 80px;
  width: 80%;
  border: 1px solid black;
  outline: none;
  display: block;
  border-bottom: 1px solid #414042;
  color: #414042;

  /* border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1; */
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: #414042;
  font-family: Arial, Helvetica, sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 15px;
  left: 0;
  right: 0;
  color: #414042;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #414042;
  color: #f1f2f2;
  font-size: 15px;
  cursor: pointer;
}
